* {
  box-sizing: border-box;
}

body {
  font-family: Quicksand, sans-serif;
}

a {
    text-decoration: none;
}

.titlebar a {
  color: rgba(136, 136, 136, 0.7);
}

/* Menu start here */

.logo {
  max-width: 20%;
  flex: 0 0 45%;
}

.insta {
  max-width: 30%;
  opacity: 0.6;
  transition: ease-in-out, 0.5s;
}


.titlebar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 7%;
}

.left {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 0 0 65%;
}

.name {
  flex: 0 0 20%;
  margin-left: 5%;
  font-size: 110%;
  font-weight: lighter;
  color: rgb(240, 42, 24);
}

.description {
  flex: 0 0 35%;
  font-size: 90%;
  color: rgba(136, 136, 136, 0.7);
}

.right {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 85%;
  flex: 0 0 35%;
}

.work {
  flex: 0 0 30%;
}

.work:hover a {
  color: rgb(240, 42, 24);
  cursor: pointer;
  transition: ease-in-out, 0.5s;
}

.about {
  flex: 0 0 30%;
}

.about:hover a {
  color: rgb(240, 42, 24);
  cursor: pointer;
  transition: ease-in-out, 0.5s;
}

.contact {
  flex: 0 0 30%;
}

.contact:hover a {
  color: rgb(240, 42, 24);
  cursor: pointer;
  transition: ease-in-out, 0.5s;
}


.inslink {
  flex: 0 0 10%;
}

.insta:hover {
  opacity: 0.2;
  cursor: pointer;
}





/*menu*/
